/* Colors */
$primary-color: #586E8E;
$secondary-color: #02bf02;
$inactive-color: #3e7af0;
$success-color: #92da1d;
$warning-color: #E2B93B;
$danger-color: #f34c4c;
$info-color: #9FD6F4;
$blue-color: #1FC7D4;

$light-blue-color: #7A9FFF;
$light-danger-color: #FFB3B3;
$light-success-color: #BFEFB3;
$light-warning-color: #fcab33;

$primary: $primary-color;
$secondary: $secondary-color;
$success: $success-color;
$warning: $warning-color;
$danger: $danger-color;

$gray-color: #586E8E;
$light-gray-color: #f3f6f9;

$bg-footer-color: #171346;
$bg-second-color: #1a2839;
$border-light-color: #CADBE4;
$border-dark-color: #4e507b;
$border-active-color: $primary-color;
$bg-card-color: #403a85;
$bg-field-color: #323465;
$bg-dropdown-color: #111346;

$text-main-color: #000;
$text-title-color: $text-main-color;
$text-footer-desc: #999d97;
$text-title-light-color: #3A485A;
$text-desc-color: $gray-color;
$text-gradient: linear-gradient(113deg, #483cff, #ff5fbf 68.83%);

$secondary-hover-color: rgba($primary-color, .31);
$progress-color: #39B3DA;

$primary: $primary-color;
$secondary: $secondary-color;
$success: $success-color;
$warning: $warning-color;
$danger: $danger-color;


$white-color: #FFFFFF;
$bg-main-color: $white-color;

$heading-1: 28px;
$heading-2: 20px;
$heading-3: 18px;
$heading-4: 16px;
$heading-5: 15px;

$navbar-height: 74px;

$spacer: 1.875rem;
$spacers: (0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
);

$grid-gutter-width: $spacer;

$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1400px;

$grid-breakpoints: (xs: 0,
  sm: $screen-sm,
  md: $screen-md,
  lg: $screen-lg,
  xl: $screen-xl,
  xxl: $screen-xxl);